name: snapshot_release

on:
  repository_dispatch:
    types: [ trigger-snapshot-release ]
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  snapshot_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: central
          server-username: MAVEN_CENTRAL_USERNAME
          server-password: MAVEN_CENTRAL_PASSWORD

      - name: snapshot_release
        env:
          MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        run: mvn -B -U --fail-at-end -DskipTests -DskipITs clean deploy
